.bsp/
.idea/
target/
Main.scala

# Docusaurus
.cache-loader
.docusaurus
.env.development.local
.env.local
.env.production.local
.env.test.local
/website/build
/website/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*